In [ ]:
import pandas as pd
import random

df=pd.read_csv("Pokemon.csv")
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

In [ ]:
len(df)

800

Cantidad de datos que se encuentran en la base de datos

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

Informacion sobre cada columna de la base de datos

In [ ]:
df.count()

#             800
Name          800
Type 1        800
Type 2        414
Total         800
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

Cuantos datos hay cada en columna

In [16]:
columnas = ['Total', 'HP', 'Attack', 'Defense','Sp. Atk', 'Sp. Def','Speed']
for i in columnas:
  print("Mediana de ", i, "es: ", df[i].median())

Mediana de  Total es:  450.0
Mediana de  HP es:  65.0
Mediana de  Attack es:  75.0
Mediana de  Defense es:  70.0
Mediana de  Sp. Atk es:  65.0
Mediana de  Sp. Def es:  70.0
Mediana de  Speed es:  65.0

La mediana de todas las variables numericas

In [17]:
for i in columnas:
  print("Media de ", i, "es: ", df[i].mean())

Media de  Total es:  435.1025
Media de  HP es:  69.25875
Media de  Attack es:  79.00125
Media de  Defense es:  73.8425
Media de  Sp. Atk es:  72.82
Media de  Sp. Def es:  71.9025
Media de  Speed es:  68.2775

In [ ]:
La media de cada atributo numerico

In [ ]:
df.sort_values("Total",ascending=False)

       #                   Name   Type 1  ... Speed  Generation  Legendary
426  384  RayquazaMega Rayquaza   Dragon  ...   115           3       True
164  150    MewtwoMega Mewtwo Y  Psychic  ...   140           1       True
163  150    MewtwoMega Mewtwo X  Psychic  ...   130           1       True
422  382    KyogrePrimal Kyogre    Water  ...    90           3       True
424  383  GroudonPrimal Groudon   Ground  ...    90           3       True
..   ...                    ...      ...  ...   ...         ...        ...
13    10               Caterpie      Bug  ...    45           1      False
288  265                Wurmple      Bug  ...    20           3      False
446  401              Kricketot      Bug  ...    25           4      False
322  298                Azurill   Normal  ...    20           3      False
206  191                Sunkern    Grass  ...    30           2      False

[800 rows x 13 columns]

Filtro para mostrar el pokemon con mayor cantidad de atributos

In [ ]:
df.sort_values("Attack",ascending=False)

       #                     Name   Type 1  ... Speed  Generation  Legendary
163  150      MewtwoMega Mewtwo X  Psychic  ...   130           1       True
232  214  HeracrossMega Heracross      Bug  ...    75           2      False
424  383    GroudonPrimal Groudon   Ground  ...    90           3       True
426  384    RayquazaMega Rayquaza   Dragon  ...   115           3       True
429  386       DeoxysAttack Forme  Psychic  ...   150           3       True
..   ...                      ...      ...  ...   ...         ...        ...
139  129                 Magikarp    Water  ...    80           1      False
261  242                  Blissey   Normal  ...    55           2      False
230  213                  Shuckle      Bug  ...     5           2      False
121  113                  Chansey   Normal  ...    50           1      False
488  440                  Happiny   Normal  ...    30           4      False

[800 rows x 13 columns]

In [ ]:
print(df['Total'].max())
print(df['HP'].max())
print(df['Attack'].max())
print(df['Defense'].max())
print(df['Sp. Atk'].max())
print(df['Sp. Def'].max())
print(df['Speed'].max())

780
255
190
230
194
230
180

Los valores maximos de cada variable numerica

In [ ]:
print(df['Total'].min())
print(df['HP'].min())
print(df['Attack'].min())
print(df['Defense'].min())
print(df['Sp. Atk'].min())
print(df['Sp. Def'].min())
print(df['Speed'].min())

180
1
5
5
10
20
5

Los valores minimos de cada variable numerica

In [20]:
print(df["Total"].std())
print(df["HP"].std())
print(df["Attack"].std())
print(df["Defense"].std())
print(df["Sp. Atk"].std())
print(df["Sp. Def"].std())
print(df["Speed"].std())

119.963039755519
25.534669032332047
32.45736586949843
31.183500559332927
32.72229416880157
27.82891579711745
29.06047371716149

Desvacion estandar de cada atributo de pokemon