 # Base de datos: Pokemon

In [7]:
import pandas as pd
import random

df=pd.read_csv("Pokemon.csv")
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Cantidad de datos que se encuentran en la base de datos

In [8]:
len(df)

800

# Informacion sobre cada columna de la base de datos

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

# Cuantos datos hay cada en columna

In [10]:
df.count()

#             800
Name          800
Type 1        800
Type 2        414
Total         800
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

# La mediana de todas las variables numéricas

In [22]:
columnas = ['Total', 'HP', 'Attack', 'Defense','Sp. Atk', 'Sp. Def','Speed']
for i in columnas:
  print("Mediana de", i, "es:", df[i].median())

Mediana de Total es: 450.0
Mediana de HP es: 65.0
Mediana de Attack es: 75.0
Mediana de Defense es: 70.0
Mediana de Sp. Atk es: 65.0
Mediana de Sp. Def es: 70.0
Mediana de Speed es: 65.0

# La media de todas las variables numéricas

In [23]:
for i in columnas:
  print("Media de", i, "es:", df[i].mean())

Media de Total es: 435.1025
Media de HP es: 69.25875
Media de Attack es: 79.00125
Media de Defense es: 73.8425
Media de Sp. Atk es: 72.82
Media de Sp. Def es: 71.9025
Media de Speed es: 68.2775

# Filtro para mostrar el pokemon con mayor cantidad de atributos

In [16]:
df[df["Total"] == df["Total"].max()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True

# Filtro para mostrar el pokemon con mayor ataque

In [17]:
df[df["Attack"] == df["Attack"].max()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

# Rango de valores de cada variable numérica

In [21]:
for i in columnas:
  print("El mínimo valor de", i, "es:", df[i].min(), "y", "el máximo valor es:", df[i].max() )

El mínimo valor de Total es: 180 y el máximo valor es: 780
El mínimo valor de HP es: 1 y el máximo valor es: 255
El mínimo valor de Attack es: 5 y el máximo valor es: 190
El mínimo valor de Defense es: 5 y el máximo valor es: 230
El mínimo valor de Sp. Atk es: 10 y el máximo valor es: 194
El mínimo valor de Sp. Def es: 20 y el máximo valor es: 230
El mínimo valor de Speed es: 5 y el máximo valor es: 180

 # Desvacion estandar de cada atributo de pokemon

In [24]:
for i in columnas:
  print("La desviación estándar de", i, "es:", df[i].std(), "y", "su varianza es de:", df[i].var() )

La desviación estándar de Total es: 119.963039755519 y su varianza es de: 14391.130907384233
La desviación estándar de HP es: 25.534669032332047 y su varianza es de: 652.0193225907373
La desviación estándar de Attack es: 32.45736586949843 y su varianza es de: 1053.4805991864816
La desviación estándar de Defense es: 31.183500559332927 y su varianza es de: 972.410707133917
La desviación estándar de Sp. Atk es: 32.72229416880157 y su varianza es de: 1070.748535669585
La desviación estándar de Sp. Def es: 27.82891579711745 y su varianza es de: 774.4485544430531
La desviación estándar de Speed es: 29.06047371716149 y su varianza es de: 844.5111326658338